@charset "utf-8";
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ol,ul {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}
a{
  text-decoration: none;
}
input,button,textarea{
  outline: none;
}
html,body{
  overflow: hidden;
}
/* 谷歌浏览器滚动条 */
div::-webkit-scrollbar,
body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(208,212,218,.05);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0dd0d4da, endColorstr=#0dd0d4da);
  width: 6px;
  height: 6px;
}
div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: rgba(208,212,218,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4dd0d4da, endColorstr=#4dd0d4da);
}
#app {
  width: 100%;
  height: 100%;
  height: 100vh;
}
#opc{
  position: absolute;
  top: 60px;
  left: 20%;
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
#rain{
  position: absolute;
  top: 90px;
  left: 20%;
}
#carFlow{
  position: absolute;
  top: 120px;
  left: 20%;
}
#videoPanel {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 300px;
  height: 200px;
  background-color: #000;
  display: none;
}
#videoPanel video{
  width: 100%;
  height: 100%;
}
#closeVideo{
  position: fixed;
  color: red;
  z-index: 111111;
  right: 6px;
  top: 2px;
  cursor: pointer;
}
#up{
  position: absolute;
  top: 150px;
  left: 20%;
}



/**********************事件面板开始***************************/
.videoPanel {
  position: relative;
  overflow: hidden;
  width: 49%;
  height: 60px;
  margin-top: 7px;
  float: left
;
}
.videoPanel video{
  width: 100%;
}
.closeVideo{
  position: absolute;
  color: red;
  z-index: 111111;
  right: 6px;
  top: 2px;
  cursor: pointer;
}
.monitor-right-panel {
  box-sizing: border-box;
  width: 18%;
  float: right;
  height: 100%;
  background-color: rgba(22,52,82,.9);
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.weather-box {
  width: 100%;
  height: auto;
}
.camera-view {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.camera-list {
  height: auto;
  height: auto;
  position: absolute;
  top: 400px;
  bottom: 24px;
  left: 10px;
  right: 10px;
  background-color: #0f0e2a;
  border-radius: 5px;
}

.camera-list-content {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
/*天气预报模块*/
.weather-content {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.weather-title,
.camera-monitor-title,
.camera-list-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.weather-item{
  width: 100%;
  height: 40px;
  margin: 5px 0;
  border-bottom: 1px solid #999;
}
.weather-box-left {
  float: left;
  width: auto;
  width: 100px;
  height:40px;
}
.weather-day,
.weather-temperature {
  font-size: 13px;
  color: #ffffff;
  height: 20px;
  line-height: 20px;
  width:100%;
}
.weather-box-right{
  height: 40px;
  width:auto;
  float: left;
}
.weather-icon{
  height: 37px;
  width:auto;
  float: left;
}
.weather-icon img {
  height: 100%;
}
.weather-text {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  color:#fff;
  float: left;
  margin-left:35px;
}
.more-weather {
  float: right;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  font-size: 13px;
}
.camera-item {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #999999;
}
.camera-title{
  width: 60%;
  height: 100%;
  line-height: 30px;
  float: left;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
.camera-status{
  width: 30%;
  height: 100%;
  line-height: 30px;
  float: left;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
.camera-play{
  margin-top: 10px;
}
/*监控模块左侧面板*/
.monitor-left-panel {
  box-sizing: border-box;
  width: 18%;
  float: right;
  height: 100%;
  background-color: rgba(22,52,82,.9);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  padding: 10px;
}
.new-events {
  width: 100%;
  height: auto;
}
.new-event{
  width: 100%;
  padding: 5px 10px;
  height: 30px;
  border-bottom: 1px solid #999;
  box-sizing: border-box;

}
.new-event-list {
  width: 100%;
  height: auto;
}
.new-event img {
  height: 15px;
  float: left;
  margin-top: 3px;
}
.new-event .new-event-text {
  height: 20px;
  line-height: 20px;
  float: left;
  color: #ffffff;
  font-size: 13px;
}
.event-count {
  width: 100%;
  height: auto;
}
.event-count-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
#event-pie {
  width: 100%;
  height: 200px;
}
.event-count-list {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #0f0e2a;
  padding: 10px;
  border-radius: 5px;
}
.count-list-title{
  width: 100%;
  height: auto;
}
.count-list-content{
  width: 100%;
  height: auto;
}
.event-count-list-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom: 1px dashed #999;
}
.event-name,
.event-time,
.event-desc {
  width: 33.3%;
  font-size: 12px;
  color: #ffffff;
  float: left;
  height:auto;
  line-height: 35px;
}
.count-list-title .event-name,
.count-list-title .event-time,
.count-list-title .event-desc {
  width: 33.3%;
  font-size: 14px;
  color: #ffffff;
  float: left;
  height:auto;
  line-height: 20px;
}
.count-list-title .event-count-list-item {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #999;
}
/*事件详细描述*/
.event-detail {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 111;
  background-color: #fff;
  width: 300px;
  height: 240px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.event-detail .event-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #999;
}
.event-content {
  width: 100%;
  height: 100px;
  color: #000;
  font-size:13px;
  text-align: left;
  text-indent: 20px;
  line-height: 25px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.event-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
/**********************事件面板结束***************************/
#up{
  position: absolute;
  top: 150px;
  left: 20px;
}
/********************** 物业管理 ***************************/
#house-left,
#house-right{
  position: absolute;
  top: 0;
  height: 100%;
  width: 21.35rem;
  background-image: linear-gradient(270deg, rgba(5,19,49,0.2) 0%, #020816 100%);
  padding-bottom: 15px;
  overflow: auto;
  font-family: PingFangSC-Medium;
}
#house-left{
  left: 0;
}
#house-right{
  right: 0;
}
.left-icon{
  position: absolute;
  top: 10px;
  left: 2px;
  height: 24.03rem;
  width: 1.67rem;
  background: url("./image/monitor/decorate-left@1x.png") no-repeat;
}
.content{
  text-align: center;
}
.box-content-card{
  display: inline-block;
  width: 40%;
  padding: 10px 0;
  margin: 0 5px 18px 5px;
  background: url("./image/housemsg/people.png") no-repeat 10% 50%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}
.box-content-card p {
  margin-left: 2rem;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.15px;
}
.box-content-card .card-big {
  font-size: 28px;
  color: #FCD071;
  letter-spacing: 0.26px;
}
#pay,
#house-log{
  width: 98%;
  height: 180px;
  margin: 0 auto;

}
#house-log{
  height: 15.63rem;
  padding-top: 1rem;
  background: url("./image/housemsg/log.png") no-repeat;
}
#house-car{
  margin-top: 30px;
}
#house-nums > p,
#house-car > p,
#house-log > p,
#house-weather > p,
#house-message > p,
#house-equipment> p,
#models> p{
  margin: 1.77rem 0 .89rem 1.56rem;
  font-size: 20px;
  color: #BAE1FF;
  background: url("./image/monitor/Lightbar@1x.png") no-repeat 80% 50%;
}
.title-dv{
  margin: 0 0 .89rem 1.56rem;
  font-size: 20px;
  color: #BAE1FF;
}
#house-log .nav{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #093653;
}
#log-list{
  width: 90%;
  margin: 0 auto;
}
#house-log .nav div {
  display: inline-block;
  width: 32%;
  color: #ececec;
  padding: 10px 0;
  font-size: 13px;
  cursor: pointer;
}
#house-weather,
#house-message,
#house-equipment{
  text-align: center;
}
#today-weather{
  height: 150px;
}
#house-message-chart{
  margin-top: 20px;
  height: 220px;
}
#house-equipment-chart{
  height: 220px;
}
#models{
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
#models input,
.pro-nav-constrain input{
  position: absolute;
  opacity: 0;
}
#models label,
.pro-nav-constrain label{
  position: relative;
  display: inline-block;
  margin: 0 5px 0 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1890FF;
  vertical-align: middle;
}
#models input:checked + label:after,
.pro-nav-constrain input:checked + label:after{
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  top: 0px;
  left: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
/* 表格 */
.t-table{
  width: 100%;
  height: 100%;
  text-align: center;
}
.t-head {
  border: 1px solid #1C99FF;
  background-color: rgba(28,153,255,0.33);
  color: #87EDFC;
}
.t-head-tr {
  width: 32%;
  padding: 5px 0;
  color: #87EDFC;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}
.t-body {
  height: 180px;
  /*background-color: #052B5A;*/
  color: #fff;
  overflow: auto;
}
.event-node{
  cursor: pointer;
  /*color: #8DB6D0;*/
}
.event-right{
  color: #00A5FF;
  cursor: pointer;
}
.event-error{
  color: #f00;
  cursor: pointer;
}
.t-body-td{
  width: 32%;
  padding: 10px 0;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*.t-body-tr:nth-child(even){*/
  /*background: rgba(196,228,245,0.05);*/
/*}*/
/****************** 导航栏 *********************/
#pro-nav{
  position: absolute;
  bottom: 0;
  left: 18%;
  right: 18%;
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: rgba(22,52,82,.85);
}
.hide{
  display: none;
}
.show{
  display: block;
}
.pro-nav-constrain{
  float: left;
  width: 33%;
}
/* 全屏视频 */
#full-scene{
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;
  z-index: 3;
  height: 0;
  overflow: hidden;
}
.video-contain{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
}
.close-video{
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#big-video{
  width: 95%;
  border: none;
  outline: none;
}
@media screen and (min-width: 1367px){
  #pay {
    width: 339px;
  }
  #event-pie{
    width: 326px;
  }
}
@media screen and (max-width: 1366px){
  #pay {
    width: 265px;
  }
  #event-pie{
    width: 257px;
  }
}
